@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(330, 100%, 98%);
}

main {
    text-align: center;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    width: 500px;
    height: 1200px;
}

img {
    width: 300px;
}

h1 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
}

h2 {
    font-family: 'Young Serif', sans-serif;
    font-weight: 400;
}

p, li, caption, td, strong {
    font-family: "Outfit",sans-serif;
}